//Import core folder;
@import 'core/normalize';
@import 'core/variables';
@import 'core/fonts';
@import 'core/mixins';
@import 'core/global';

//Import layout folder
@import 'layout/header';
@import 'layout/nav';
@import 'layout/article-services';
@import 'layout/article-work';
@import 'layout/article-testimonials';
@import 'layout/article-contact';
@import 'layout/footer';    

body {
    font-family: 'Open Sans',sans-serif;
    background-color: #475a85;
    font-size: 16px;
    margin: 0;
    width: 100%;

    .main {
        display: flex;
        flex-direction: column;
    }
}
