//Import core folder;
@import 'core/normalize';
@import 'core/variables';
@import 'core/fonts';
@import 'core/mixins';
@import 'core/global';

//Import layout folder
@import 'layout/header';
@import 'layout/nav';
@import 'layout/article-services';
@import 'layout/article-work';
@import 'layout/article-testimonials';
@import 'layout/article-contact';
@import 'layout/footer';



    .button-red {
        text-decoration: none;
        text-align: center;
        cursor: pointer;
        color: #fff;
        background-color: #f14859;
        border-radius: 4px;
        border: 0;
        display: flex;
        justify-content: center;
        align-items: center;
        transition: .2s;
        font-family: 'Open Sans',sans-serif;
        font-size: 12px;
        padding: 10px 30px;
        
        &:hover, &:focus {
            background-color: palevioletred;
        }
    }


$white: #fff;
$standard: #1f1f1f;

* {
    color: $standard;
}

body {
    font-family: 'Open Sans',sans-serif;
    background-color: #475a85;
    margin: 0;
    .header {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-wrap: wrap;
        background-color: #161828;
        background-image: url(/dist/img/bg_img_slider.png);
        background-repeat: no-repeat;
        background-position: 30% 110px;
        background-size: 60% 100%;
        padding: 80px 10% 50px;
        

        .nav {
            position: fixed;
            top: 0;
            left: 0;
            z-index: 2;
            background-color: #0d0b11;
            height: 70px;
            width: 80%;
            padding: 0 10%;
            display:flex;
            align-items: center;
            justify-content: space-between;

            display:none; 
            .nav__logo {
                text-decoration: none;
                color: #fff;
                font-size: 24px;
                
                .bold {
                    font-weight: 700;
                }
            }
            .toggle-menu {
                display:none;
            }
            .nav__list {
                list-style: none;
                font-size: 14px;
                display:flex;
                justify-content: space-between; 
                padding: 0;
                margin: 0;
                width: 470px;
                
                li {
                    display: list-item;
                    text-align: -webkit-match-parent;
                    
                    a {
                        color: $white;
                        text-decoration: none;
                        transition: .2s; 
                        &:focus, &:hover {
                            color: lightslategray;
                            }
                    }
                }
            }
        }
        .header__content {
            display: flex;
            justify-content: flex-start;
            align-items: flex-start;
            flex-direction: column;
            width: 55%;
            min-height : 100px;
            
            .header__title {
                color: $white;
                font-size: 36px;
                padding: 0;
                margin: 0;
            }
            
            .header__desc {
                color: $white;
                font-size: 24px;
                padding: 0;
                margin: 24px 0 60px;
            }
        
            .link-more {
                font-size: 18px;
                width: 145px;
                height: 54px;
            }
        }
        .header__image {
            width: 45%;
            display: flex;
            align-items: center;
            justify-content: flex-end;
            transform: translateX(5%);
            
            img {
                width: 100%;
                height: auto; 
            }
        }
    }
    .main {
        .article-services {
            padding: 70px 15% 80px;
            .article__header {
                margin-bottom: 80px;

            }
        }
        .article,
        .section 
        {
            padding: 0;
            display: flex;
            align-items: center;
            flex-wrap: wrap;
            justify-content: space-between;
            .article__header,
            .section__header
             {
                display: flex;
                justify-content: center;
                flex-direction: column;
                align-items: center;
                text-align: center;
                width: 100%;

                .article__title,
                .section__heading {
                    color: $white;
                    font-size: 30px;
                    margin: 0 0 5px;
                }
                .article__desc,
                .section__desc {
                    color: $white;
                    font-size: 18px;
                    margin: 0 0 12px 0;
                }
            }
            .section-services {
                display: flex;
                width: 220px;
                flex-direction: column;
                align-items: center;

                .section__heading {
                    color: $white;
                }

                .paragraph {
                    color: $white;
                    font-size: 14px;
                    text-align: center;
                    margin: 0 0 30px;
                }
            }
        }
        .article-services {
            padding: 50px 10% 80px;
        }
        .article-work {
            width: 100%;

            .article__header {
                height: 400px;
                background-color: #9b9b9b;
                background-image: url(/dist/img/pattern-parallax.png);
                .article__heading {
                    font-size: 48px;
                    margin: 0;
                    color: $white;
                }   
                .article__desc {
                    font-size: 24px;
                    color: $white;
                }
            }
            .section__portfolio{
                width: 100%;
                background-color: $white;
                padding: 70px 10% 0;
                display: flex;
                align-items: center;
                justify-content: center;
                flex-direction: column;
                .section__header{
                    margin: 0 0 50px;
                    color: #000;
                    .section__heading {
                        color: $standard;
                    }
                    .section__desc {
                        color: $standard;
                    }
                }
                .portfolio__category {
                    display: flex;
                    align-items: center;
                    justify-content: space-between;
                    text-align: center;
                    margin-bottom: 50px;
                    .button-category {
                        border: 0;
                        background-color: #fff;
                        color: a7a7a7;
                        font-size: 18px;
                        padding: 0;
                        width: 70px;
                    }
                }
                .projects__box {
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    flex-wrap: wrap;

                    .portfolio-item {
                        position: relative;
                        width: 370px;
                        height: 300px;
                        background-color: #5f5f5f;
                        margin: 0 15px 40px;

                        .image {
                            position:absolute;
                            top: 0;
                            left: 0;
                            z-index: 9;
                            background-color: #5f5f5f;
                            width: 100%;
                            height: 100%;
                            background-position: center center;
                            background-size: auto 100%;
                            background-repeat: no-repeat;
                            transition: .7s;

                        }
                        .image-1     {
                            background-image: url(/dist/img/portfolio/desk-min.jpg);
                        }
                        image:hover,
                        image:focus {
                            opacity: 0;
                        }

                        .figcaption {
                            transition: .5s;
                            z-index: 10;
                            width: calc(100% - 100px);
                            height: 100%;
                            text-align: center;
                            display: flex;
                            align-items:center;
                            flex-direction: column;
                            justify-content: center;
                            position: absolute;
                            top: 0;
                            left: 0;
                            opacity: 0;
                            background: #475a85;
                            color: #fff;
                            padding: 0 50px;
                            .portfolio-item__heading {
                                font-size: 24px;
                                margin: 0;
                                padding: 0;
                                color: $white;
                            }
                            .paragraph {
                                color: $white;
                                font-size: 14px;
                                margin: 22px 0 27px;
                            }
                            .link_eye{

                            }

                        }
                        .figcaption:hover,
                        .figcaption:focus {
                            opacity: 1;
                        }
                    }
                }
                .arrow__container {
                    text-align: center;
                    p {
                        font-size: 18px;
                        font-weight: 700;
                        line-height: 1.7em;
                    }
                    .arrow__button {
                        border: 0;
                        background-color: transparent;
                        margin-bottom: 50px;
                    }
                }
            }
        }
        .article-testimonials {
            background-color: $white;
            padding: 0 10% 80px;

            .article__header{
                margin: 0 0 50px;
                .article__heading {
                    font-size: 30px;
                    color:$standard;
                    margin: 10px;
                }
                .article__desc {
                    color: $standard;
                    margin-bottom: 20px;
                    font-size: 18px;
                }
            }
            .cite-block {
                display:flex;
                justify-content: center;
                align-items: center;
                margin: 0 0 40px;
                padding: 0;
                .person-figure {
                    display:flex;
                    justify-content: center;
                    align-items: center;
                    border: 8px solid #ebebeb;
                    border-radius: 50%;
                    width: 350px;
                    margin: 0;
                    padding: 0;
                    .person-image {
                        width: 100%;
                        height: 100%;
                        border-radius: 50%;
                    }
                }
                .blockquote {
                    display:flex;
                    justify-content: center;
                    align-items: flex-end;
                    flex-direction: column;
                    margin: 0;
                    padding: 0 0 0 10%;
                    width: 100%;
                    
                    .paragraph {
                       font-size: $standard; 
                    }
                    .blockquote-footer__name {
                        font-size: 24px;
                        font-weight: 700;
                        color: $standard;
                    }
                }
            }
            .buttons-container {
                display: flex;
                justify-content: center;
                align-items: center;
                width: 100%;
                .button-cite {
                    border: 0;
                    background-color: $standard;
                    font-size: 0;
                    width: 20px;
                    height: 20px;
                    border-radius: 50%;
                    margin: 0 12px;

                }
            }
        }
        .article-contant {
            width: 100%;
            display:flex;
            flex-direction: column;
            .article__header {
                
                height: 400px;
                background-color: #9b9b9b;
                background-image: url(/dist/img/pattern-parallax.png);
                .article__heading {
                    font-size: 48px;
                    margin: 0;
                    color: $white;
                }   
                .article__desc {
                    font-size: 24px;
                    color: $white;
                }
            }
            .contact-map-container {
                width: 100%;
                height: 450px;
                iframe {
                    width: 100%;
                    height: 100%;

                }
            }
            .section-contact-info {
                padding: 70px 50px 80px;
                background-color: $white;
                display: flex;
                flex-wrap: wrap;
                align-items: baseline;
                justify-content: center;
                background: $standard-background;
                .section-header{
                    margin: 0 0 50px;
                    width: 100%;
                    display: flex;
                    text-align: center;
                    flex-direction: column;
                    align-items: center;
                    .section-header__heading {
                        color: $white;
                        font-size: 30px;
                    }
                    .section-header__desc {
                        color: $white;
                        font-size: 18px;
                    }
                }
                .contact-content {
                    width: calc(50% - 20px);
                    margin-right: 20px;
                    display: flex;
                    flex-direction: column;
                    flex-wrap: wrap;
                    align-items: flex-start;
                    color: $white;
                    font-size: 18px;

                    strong {
                        font-weight: bold;
                        color: $white;
                        margin: 10px 0;
                    }
                    .paragraph {
                        color: $white;
                        margin: 10px 0;
                    }
                    .place {
                        color: $white;
                        margin: 10px 0;
                        &::before {
                            margin: 0 10px;
                            content: url(/dist/img/location.png);
                        }
                    }
                    .phone {
                        .link-phone {
                            color: $white;
                            margin: 10px 0;
                        }
                        &::before {
                            margin: 0 10px;
                            content: url(/dist/img/phone.png);
                        }
                    }
                    .mail {
                        color: $white;
                        margin: 10px 0;
                        
                        &::before {
                            margin: 0 10px;
                            content: url(/dist/img/mail.png);
                        }
                    }

                    .social-media-list {
                        .social-media-link {
                            .icon-social-media {

                            }
                            .icon-twitter-circled {
                                
                            }
                            .icon-facebook-circled {

                            }
                            .icon-gplus-circled {

                            }
                        }
                    }
                }

                .form-container {
                    width:50%;
                    display: flex;
                    flex-direction: column;
                    flex-wrap: wrap;
                    align-items: center;
                    
                    .contact-form {
                       .input {
                        box-sizing: border-box;
                        border: none;
                        border-radius: 5px;
                        background: #eee;
                        padding: 20px;
                        font-size: 18px;
                        color: #616161;
                        font-family: 'Open Sans';
                        width:calc(50% - 10px);

                        &:first-of-type{
                            margin-right: 10px;
                        }
                       } 
                       .textarea {
                        box-sizing: border-box;
                        border: none;
                        border-radius: 5px;
                        background: #eee;
                        padding: 20px;
                        font-size: 18px;
                        color: #616161;
                        font-family: 'Open Sans';
                        margin-top: 15px;
                        width: 100%;
                       }
                       
                       $button-red: ".button-red";

                       #{$button-red}  {
                           margin-top: 10px;
                           font-size: 28px;
                           padding: 20px 40px;
                       }
                    }
                }
            }
        }
    }
}