body {
    font-family: 'Open Sans',sans-serif;
    background-color: #475a85;
    margin: 0;
    .header {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-wrap: wrap;
        background-color: #161828;
        background-image: url(/dist/img/bg_img_slider.png);
        background-repeat: no-repeat;
        background-position: 30% 110px;
        background-size: 60% 100%;
        padding: 80px 10% 50px;

        .nav {
            position: fixed;
            top: 0;
            left: 0;
            z-index: 2;
            background-color: #0d0b11;
            height: 70px;
            width: 80%;
            padding: 0 10%;
            display:flex;
            align-items: center;
            justify-content: space-between;
            .nav__logo {
                text-decoration: none;
                color: #fff;
                font-size: 24px;
                
                .bold {
                    font-weight: 700;
                }
            }
            .toggle-menu {
                display:none;
            }
            .nav__list {
                list-style: none;
                font-size: 14px;
                display:flex;
                justify-content: space-between; 
                padding: 0;
                margin: 0;
                width: 470px;
                
                li {
                    display: list-item;
                    text-align: -webkit-match-parent;
                    
                    a {
                        color: #fff;
                        text-decoration: none;
                        transition: .2s; 
                        &:focus, &:hover {
                            color: lightslategray;
                            }
                    }
                }
            }
        }
        .header__content {
            display: flex;
            justify-content: flex-start;
            align-items: flex-start;
            flex-direction: column;
            width: 55%;
            color: #fff;
            min-height : 100px;
            
            .header__title {
                font-size: 36px;
                padding: 0;
                margin: 0;
            }
            
            .header__desc {
                font-size: 24px;
                padding: 0;
                margin: 24px 0 60px;
            }
        
            .link-more {
                font-size: 18px;
                width: 145px;
                height: 54px;
            }
        }
        .button-red {
            text-decoration: none;
            text-align: center;
            cursor: pointer;
            color: #fff;
            background-color: #f14859;
            border-radius: 4px;
            border: 0;
            display: flex;
            justify-content: center;
            align-items: center;
            transition: .2s;
            font-family: 'Open Sans',sans-serif;
            
            &:hover, &:focus {
                background-color: palevioletred;
            }
        }
        .header__image {
            width: 45%;
            display: flex;
            align-items: center;
            justify-content: flex-end;
            transform: translateX(5%);
            
            img {
                width: 100%;
                height: auto; 
            }
        }
    }
    .main {
        .article {
            padding: 50px 10% 80px;
            display: flex;
            align-items: center;
            flex-wrap: wrap;
            justify-content: space-between;
            .article__header {
                color: #fff;
                text-align: center;
                margin-bottom: 50px;
                width: 100%;

                .article__title {
                    font-size: 30px;
                    margin: 0 0 5px;
                }
                .article__desc {
                    font-size: 18px;
                    margin: 0 0 12px 0;
                }
            }
        }
        .section-services {
            display: flex;
            width: 200px;
            flex-direction: column;
            align-items: center;

        }




    }
}