.article-work {
    width: 100%;

    .article__header {
        height: 400px;
        background-color: #9b9b9b;
        background-image: url(/dist/img/pattern-parallax.png);
        margin: 0;
        .article__heading {
            font-size: 48px;
            margin: 0;
            color: $white;
        }   
        .article__desc {
            font-size: 24px;
            color: $white;
        }
    }
    .section__portfolio{
        width: 100%;
        background-color: $white;
        padding: 70px 5% 0;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        .section__header{
            margin: 0 0 50px;
            color: #000;
            .section__heading {
                color: $standard;
            }
            .section__desc {
                color: $standard;
            }
        }
        .portfolio__category {
            display: flex;
            align-items: center;
            justify-content: space-between;
            text-align: center;
            margin-bottom: 50px;
            .button-category {
                border: 0;
                background-color: #fff;
                color: a7a7a7;
                font-size: 18px;
                padding: 0;
                width: 70px;
            }
        }
        .projects__box {
            display: flex;
            align-items: center;
            justify-content: center;
            flex-wrap: wrap;

            .portfolio-item {
                position: relative;
                width: 370px;
                height: 300px;
                background-color: #5f5f5f;
                margin: 0 15px 40px;

                .image {
                    position:absolute;
                    top: 0;
                    left: 0;
                    z-index: 9;
                    background-color: #5f5f5f;
                    width: 100%;
                    height: 100%;
                    background-position: center center;
                    background-size: auto 100%;
                    background-repeat: no-repeat;
                    transition: .7s;

                }
                .image-1     {
                    background-image: url(/dist/img/portfolio/desk-min.jpg);
                }
                image:hover,
                image:focus {
                    opacity: 0;
                }

                .figcaption {
                    transition: .5s;
                    z-index: 10;
                    width: calc(100% - 100px);
                    height: 100%;
                    text-align: center;
                    display: flex;
                    align-items:center;
                    flex-direction: column;
                    justify-content: center;
                    position: absolute;
                    top: 0;
                    left: 0;
                    opacity: 0;
                    background: #475a85;
                    color: #fff;
                    padding: 0 50px;
                    .portfolio-item__heading {
                        font-size: 24px;
                        margin: 0;
                        padding: 0;
                        color: $white;
                    }
                    .paragraph {
                        color: $white;
                        font-size: 14px;
                        margin: 22px 0 27px;
                    }
                    .link_eye{

                    }

                }
                .figcaption:hover,
                .figcaption:focus {
                    opacity: 1;
                }
            }
        }
        .arrow__container {
            text-align: center;
            p {
                font-size: 18px;
                font-weight: 700;
                line-height: 1.7em;
            }
            .arrow__button {
                border: 0;
                background-color: transparent;
                margin-bottom: 50px;
            }
        }
    }
}