.section-services {
    display: flex;
    width: 220px;
    flex-direction: column;
    align-items: center;

    .section__heading {
        color: $white;
    }

    .paragraph {
        color: $white;
        font-size: 14px;
        text-align: center;
        margin: 0 0 30px;
    }
}
.article-services {
padding: 50px 10% 80px;
}