.nav {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 100;
    background-color: #0d0b11;
    height: 70px;
    width: 80%;
    padding: 0 10%;
    display:flex;
    align-items: center;
    justify-content: space-between;

    .toggle-menu {
        display: flex;
        border: 0;
        background: transparent;
        


        .toggle__container {
            display: flex;
            flex-direction: column;
            justify-content: center;
            @include easeOut();

            
            .toggle__span { 
                background-color: $white;
                width: 25px;
                height: 3px;
                margin-top: 5px;
                @include easeOut();
            }

            &.close {
                transform: rotate(180deg);
        
                .toggle__span {
                    &:nth-child(1) {
                        transform: rotate(45deg) translate(5px, 5px);
                    }
                    &:nth-child(2) {
                        opacity: 0;
                    }
                    &:nth-child(3) {
                        transform: rotate(-45deg) translate(6px, -6px);
                    }
                }
            }
        } 
    }
    .nav__logo {
        text-decoration: none;
        color: #fff;
        font-size: 24px;
        
        .bold {
            font-weight: 700;
        }
    }
    .nav-list {
        list-style: none;
        font-size: 14px;
        display:flex;
        justify-content: space-between; 
        padding: 0;
        margin: 0;
        width: 470px;
        
        .nav-list__item {
            display: list-item;
            text-align: center;
            
            .nav-list__link {
                color: $white;
                text-decoration: none;
                transition: .2s; 
                &:focus, &:hover {
                    color: lightslategray;
                    }
            }
        }
    }
}